.test {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	background: #EEEEEE;
	padding: 15px;
	box-sizing: border-box;
	margin-top: 15px;
}

.test__header {
	margin-bottom: 15px;
	color: #5f9ea0;
}

.test-form__error {
	color: #FF0000;
}

.test-form__input-wrapper {
	margin-bottom: 20px;
}

.test-form__input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	padding: 10px;
	border: none;
	margin-bottom: 5px;
}

.test_center {
	text-align: center;
}

.test-form__submit {
    border: none;
    background: #5f9ea0;
    color: #FFFFFF;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.test-form__submit[disabled] {
	background: #CCCCCC;
	cursor: default;
}