<div class="test">
	<h1 class="test__header">Тестовое задание</h1>
	<form action="/" class="test-form" id="test-form">
		<div class="test-form__input-wrapper">
			<input type="email" name="email" id="email" class="test-form__input" placeholder="E-Mail" required />
			<div class="test-form__error" *ngIf="!errors.email.untouched && errors.email.msg">{{errors.email.msg}}</div>
		</div>
		<div class="test-form__input-wrapper">
			<input type="password" name="passwd" id="passwd" class="test-form__input" placeholder="Пароль" required />
			<div class="test-form__error" *ngIf="!errors.passwd.untouched && errors.passwd.msg">{{errors.passwd.msg}}</div>
		</div>
		<div class="test-form__input-wrapper">
			<input type="password" name="passwd2" id="passwd2" class="test-form__input" placeholder="Повтор пароля" required />
			<div class="test-form__error" *ngIf="!errors.passwd2.untouched && errors.passwd2.msg">{{errors.passwd2.msg}}</div>
		</div>
		<div class="test-form__input-wrapper test_center">
			<input type="submit" class="test-form__submit" value="Зарегистрироваться" [disabled]="errors.email.untouched || errors.email.msg || errors.passwd.untouched || errors.passwd.msg || errors.passwd2.untouched || errors.passwd2.msg" />
		</div>
	</form>
</div>